.cart-main {
    background: var(--color-dark-800);
    padding: 2rem;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}


.prod-cart-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
}

.prod-cart-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    padding: 1.5rem;
    background: var(--primary-700);
    position: relative;
    text-align: center;
    align-items: center;
}

.prod-cart-items::before {
    position: absolute;
	content: '';
    bottom: -8px;
    height: 8px;
    width: 100%;
    left: 4px;
    transform: skewX(45deg);
    background-color: #a50e5a;
}

.prod-cart-items::after {
    position: absolute;
	content: '';
    right: -8px;
    height: 100%;
    width: 8px;
    bottom: -4px;
    transform: skewY(45deg);
    background-color: #6e093c;
}

.prod-cart-items h3 {
    font-weight: 500;
}

.trash-can {
    font-size: 1.3rem;
    cursor: pointer;
    justify-self: center;
    background: none;
    border: none;
}

@media only screen and (max-width: 600px){
    .cart-main {
        padding: 2rem 0;
    }

    .prod-cart-items {
        padding: 1rem .7rem;
        width: 90%;
    }

    .prod-cart-items h3 {
        font-size: 1rem;
    }
}

.empty-cart-button {
    margin-top: 4rem;
    padding: .6rem 2.5rem;
    font-weight: 900;
    background: var(--primary-500);
    border: none;
    text-transform: uppercase;
    border: black 1px solid;
    border-radius: 1.5rem;
    width: max-content;
    align-self: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .price-quantity {
        display: none;
    }

    .prod-cart-items {
        grid-template-columns: repeat(4, 1fr);
    }
}

.nothing-here {
    margin: 6rem auto;
    text-transform: uppercase;
}

.go-to-products {
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--primary-300);
    padding: .3rem 1rem;
    position: relative;
    transition: all .5s;
    width: fit-content;
}


.go-to-products::before {
    position: absolute;
	content: '';
	transition: all .5s;
    bottom: -8px;
    height: 8px;
    width: 100%;
    left: 4px;
    transform: skewX(45deg);
    background-color: #c51f72;
}

.go-to-products::after {
    position: absolute;
	content: '';
	transition: all .5s;
    right: -8px;
    height: 100%;
    width: 8px;
    bottom: -4px;
    transform: skewY(45deg);
    background-color: #911754;
}

.info-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 10rem 0 0 0;
    padding: 4rem;
    border-radius: 1rem;
    width: max-content;
    background: var(--color-dark-800);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.486);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media only screen and (max-width: 600px){
    .info-form {
        padding: 1rem .2rem;
    }
}

.info-form p{
    font-size: 2rem;
    font-weight: 800;
}

.info-form h3{
    font-size: 1.6rem;
}

.info-form input {
    border: none;
    padding: 1rem 2.3rem;
    background: var(--primary-300);
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
}

.info-form input::placeholder{
    color: rgb(51, 51, 51);
}

.buy-btn {
    margin: 2rem 0;
    border: none;
    display: flex;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--primary-300);
    padding: .3rem 1rem;
    position: relative;
    transition: all .5s;
    width: fit-content;
}


.buy-btn::before {
    position: absolute;
	content: '';
	transition: all .5s;
    bottom: -8px;
    height: 8px;
    width: 100%;
    left: 4px;
    transform: skewX(45deg);
    background-color: #c51f72;
}

.buy-btn::after {
    position: absolute;
	content: '';
	transition: all .5s;
    right: -8px;
    height: 100%;
    width: 8px;
    bottom: -4px;
    transform: skewY(45deg);
    background-color: #911754;
}

.wrong-email {
    font-size: .8rem;
    color: rgb(255, 0, 0);
    position: absolute;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    animation: shake .7s ease-in-out;
}

@keyframes shake {
    30% {transform: translate(-1px, -1px) rotate(1deg);}
    50% {transform: translate(2px, 1px) rotate(-2deg);}
    70% {transform: translate(-1px, -1px) rotate(1deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
}

