.detail-container{
    display: flex;
    outline: 1px solid black;
    padding: 1rem;
    gap: 1.6rem;
    width: 60%;
    height: max-content;
    margin: 2rem auto;
    position: relative;
}

.detail-img{
    width: 70%;
    height: 400px;
    background: url(../src/assets/pc/img-pc.jpg) no-repeat 55% / cover;
    border-radius: 1rem;
    box-shadow: 0 0 20px black;
}

.detail-container-info{
    display: flex;
    flex-flow: column nowrap;
}

.detail-container-info h2{
    color: var(--primary-700);
    text-transform: uppercase;
    font-size: 3rem;
}

.detail-container-info p{
    margin: 2rem 0;
}

.cart-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.detail-container-info span{
    margin: 2rem auto;
}

.add-cart{
    background: var(--primary-300);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
}