.detail-main{
    background: rgb(75, 75, 75);
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 5rem;
}

.detail-container{
    display: flex;
    background: rgb(51, 51, 51);
    padding: 2rem;
    gap: 1.6rem;
    width: 60%;
    height: max-content;
    margin: 0 auto;
    position: relative;
}

.detail-container::before {
    position: absolute;
	content: '';
	transition: all .5s;
    bottom: -15px;
    height: 15px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    background-color: rgb(37, 37, 37);
}

.detail-container::after {
    position: absolute;
	content: '';
	transition: all .5s;
    right: -15px;
    height: 100%;
    width: 15px;
    bottom: -8px;
    transform: skewY(45deg);
    background-color: rgb(26, 26, 26);
}

.detail-img{
    width: 65%;
    height: 400px;
    background: url(../src/assets/pc/img-pc.jpg) no-repeat 55% / cover;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.863);
}

.detail-container-info{
    display: flex;
    flex-flow: column nowrap;
}

.detail-container-info h2{
    color: var(--primary-700);
    text-transform: uppercase;
    font-size: 3rem;
}

.detail-container-info p{
    margin: 2rem 0;
}

.cart-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-section span {
    font-size: 2rem;
    font-weight: 900;
}

.detail-container-info span{
    margin: 2rem auto;
}

.back-arrow {
    font-size: 2rem;
    background: var(--primary-700);
    position: absolute;
    left: 45px;
    top: 50px;
    border-radius: 50%;
    width: 70px;
    text-align: center;
}

.description{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
}

@media only screen and (max-width: 1100px){

    .detail-container{
        flex-flow: column nowrap;
        width: 90%;
    }

    .detail-img{
        margin: 0 auto;
        width: 80%;
    }

    .detail-container-info,
    .detail-container-info h2{
        margin: 0 auto;
    }

    .back-arrow{
        z-index: 999;
        left: 10px;
        top: 10px;
    }
}


@media only screen and (max-width: 600px){

    .detail-main{
        padding: 2rem;
        width: 100%;
    }

    .detail-container{
        width: 100%;
        padding: 1rem;
    }

    .detail-img{
        height: 300px;
    }

}

.spinner-container {
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 6px solid var(--primary-300);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}