.itemListContainer{
    background: var(--color-dark-800);
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.cards-container{
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card{
    width: min(240px, 300px);
    height: 330px;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 40px black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all .8s ;
    position: relative;
}

.card:hover,
.card:focus {
    transform: scale(1.04);
}

.card:hover .card-product::before,
.card:focus .card-product::before {
    width: 100%;
}

.card-info{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

.card-product, .card-info p{
    color: #fff;
    position: relative;
}

.card-product::before{
    content: '';
    width: 0;
    height: 4px;
    background: #fff;
    bottom: 0;
    position: absolute;
    transition: all .8s;
}

.count-section{
    display: flex;
    gap: 10px;
}

.plus-minus-buttons{
    width: 60px;
    background: var(--primary-300);
    border: black 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.typewriter-container{
    position: relative;
}

.typewriter-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: black;
    animation: blink 0.8s steps(3) infinite;
}

@keyframes blink {
    0%,75%{opacity: 1;}
    76%, 100%{opacity: 0;}
}

.typewriter-animation {
    position: relative;
    font-size: 3rem;
    width: max-content;
    letter-spacing: 5px;
    animation: typing 8s steps(10) infinite;
    overflow: hidden;
    text-transform: uppercase;
}

@keyframes typing{
    0%, 90%, 100% {width: 0;}
    30%, 60% {width: 251.84px;}
}





