.itemListContainer{
    background: var(--color-dark-800);
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.cards-container{
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.card{
    width: min(240px, 300px);
    height: 330px;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 40px black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all .8s ;
    position: relative;
}

.card:hover,
.card:focus {
    transform: scale(1.04);
}

.card:hover .card-product::before,
.card:focus .card-product::before {
    width: 100%;
}

.card-info{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

.card-product, .card-info p{
    color: #fff;
    position: relative;
}

.card-product::before{
    content: '';
    width: 0;
    height: 4px;
    background: #fff;
    bottom: 0;
    position: absolute;
    transition: all .8s;
}

.count-section{
    display: flex;
}

.count-buttons{
    width: 60px;
    height: 30px;
    background: var(--primary-700);
    border: black 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.count-number{
    margin: 0 .5rem;
}

.add-to-cart{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    background: var(--primary-300);
    padding: .3rem 1rem;
    position: relative;
    transition: all .5s;
    width: fit-content;
    border: none;
    margin-top: 2rem;
}


.add-to-cart::before {
    position: absolute;
	content: '';
	transition: all .5s;
    bottom: -8px;
    height: 8px;
    width: 100%;
    left: 4px;
    transform: skewX(45deg);
    background-color: #c51f72;
}

.add-to-cart::after {
    position: absolute;
	content: '';
	transition: all .5s;
    right: -8px;
    height: 100%;
    width: 8px;
    bottom: -4px;
    transform: skewY(45deg);
    background-color: #911754;
}

.more-details{
    background: var(--primary-700);
    border: none;
    padding: .4rem 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #141414;
    border-radius: 2px;
    box-shadow: 0 0 17px rgb(0, 0, 0);
    cursor: pointer;
}

.ring{
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    animation: ring 1.5s linear infinite;
}

@keyframes ring{
    0%{transform: rotate(0deg); box-shadow: 1px 5px 2px #c78305;}
    50%{transform: rotate(180deg); box-shadow: 1px 5px 2px #00c2a8;}
    100%{transform: rotate(360deg); box-shadow: 1px 5px 2px #b800c9;}
}

.ring::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.loading-text{
    color: rgb(24, 24, 24);
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: text 2s ease-in-out infinite;
    line-height: 220px;
    margin-left: 20px;
}

@keyframes text {
    50%{color: var(--color-dark-800)}
}




