

.navbar{
    width: 100%;
    height: 4rem;
    background: var(--primary-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    box-shadow: 0 0 30px 0 black;
    position: relative;
}

.desktop-navbar{
    display: none;
}

.mobile-navbar{
    display: flex;
    flex-flow: column nowrap;
    background: var(--primary-500);
    width: 100vw;
    height: 100vh;
    gap: 1.7rem;
    position: fixed;
    top: -10000px;
    left: 0;
    z-index: 99999;
    align-items: center;
    padding: 4rem 1.5rem;
    transition: top .8s ease;
}

.menu-hamb{
    font-size: 2.2rem;
    cursor: pointer;
}

.close-hamb{
    position: fixed;
    top: -10000px;
    right: 15px;
    z-index: 999999;
    font-size: 2.8rem;
    cursor: pointer;
    transition: top .8s ease;
}

.social-media-mobile{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.social-media-mobile i {
    font-size: 1.5rem;
}

.fa-facebook:hover{
    color: rgb(24, 83, 248);
}
.fa-instagram:hover{
    color: rgb(187, 3, 58);
}
.fa-twitter:hover{
    color: rgb(42, 127, 255);
}
.fa-whatsapp:hover{
    color: rgb(0, 177, 15);
}

.navbar-list{
    display: flex;
}

.logo{
    font-size: 1.8rem;
    font-family: var(--fontFamily-title);
    cursor: pointer;
}

.logo:hover,
.logo:focus {
    color: #fff;
}

.navbar-item{
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 1.3rem;
}

.navbar-item:before{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    position: absolute;
    transition: .3s all;
}

.navbar-item:hover,
.navbar-item:focus {
    color: #fff;
    transform: scale(1.05);
}

.navbar-item:hover::before,
.navbar-item:focus::before {
    width: 100%;
    left: 0;
}

.active{
    color: #fff;
}

.shoppingCart{
    font-size: 2.7rem;
    border: .5px solid black;
    border-radius: 50%;
    padding: 5px;
    transition: transform 300ms ease;
    cursor: pointer;
}

.shoppingCart:hover,
.shoppingCart:focus {
    transform: scale(1.08);
    background: var(--primary-700);
}





@media only screen and (min-width: 1000px){
    
    .navbar{
        height: 6rem;
        padding: 2rem;
    }
    
    .menu-hamb{
        display: none;
    }
    
    .desktop-navbar{
        display: flex;
        align-items: center;
        gap: 3rem;
        position: absolute;
        right: 3rem;
    }

    .shoppingCart{
        font-size: 2.3rem;
    }

    .navbar-item{
        font-size: 1rem;
    }
}
